.main_content{
    padding-top: 10rem;
    padding-left:  20%;
    padding-right: 20%;
}
body{
    background-image: url("../img/fondo.jpg");
    background-position: center ;
    background-attachment: fixed;
        
}